<h1>All of the Tasks</h1>

  <% @tasks.each do |task| %>
    <h2> <%= link_to task.name, task_path(task) %> </h2>
    <p><%= task.content %></p>
    <p><%= "â­" * task.priority %></p>
    <!-- <%= link_to "More details", task_path(task) %> -->
    <!-- We need to call the object when we call the link helper method to generate the path (the url of the request, not all) -->
    <!-- all school -->
    <!-- <%= link_to "More details", task_path(id: task.id) %> -->
  <% end  %>



